@font-face {
    font-family: space;
    src: url(spaceinvaders.woff);
  }
body{
    background-color: black;
    color:green;
    font-family: space;
}
h2{
    text-align: center;
}
.header{
    height: 100%;
    border: 3px solid green;

   
}
.header_title{
    margin-left:10%;
}
.c6{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
align-items: center;
flex-direction: column;
}
.exit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60%;
    width: 3%;
    border: 3px solid green;
    position: relative;
    float:right;
   margin-right: 1%;
    bottom:3.5rem;
}
.container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 150px 50px 20px 50px;

}

button{
    background-color: black;
    color: green;
    border: 3px solid green;
    font-family: space;
    cursor: pointer;
    font-size: 20px;
    display:block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom:20px;

}
input{
    background-color: black;
    color: green;
    border: 3px solid green;
    font-family: space;
    width: 150px;
}
#bloc_age{
    display:none;
    margin-bottom: 20px;
}


.Ex_11, .Ex_10, .Ex_9, .Ex_8, .Ex_7, .Ex_6, .Ex_5, .Ex_4, .Ex_3, .Ex_2,.Ex_1 {
    overflow-wrap: break-word;
    padding-top: 200px;   
    align-items: center;
}

    

.Ex_4{
    text-align: center;
}

#tableau{
    text-align: center;
    width:400px;
    overflow-y: auto;
    height: 100px;
    display: block;
}

#bloc_fac{
    display:none;
}

#impair_window{
    text-align: center;
    width:400px;
    overflow-y: auto;
    height: 200px;
    display: block;
}

.triangle{
    width: 0;
    height: 0;
  margin:10px auto;
  position: relative;
  display: block;
  border-left:0px  solid transparent;
  border-right: 250px  solid transparent;
  border-bottom: 150px  solid green;
}

.triangle:before{
    content:"";
    width: 0px;
    height:0px;

    position: absolute;
    border-left:0px solid transparent;
    border-right:240px solid transparent;
    border-bottom: 140px solid black;
    top:7px;
    left:2px;
}
#illus_cotA{
    width: 50px;
    height:0px;
    margin:0px auto;
    position: relative;
    top: 194px;
}

#illus_cotB{
    width: 100px;
    height:0px;
    margin:0px auto;
    position: relative;
    top: 105px;
    padding-right:400px;
}

#illus_result{
    width: 300px;
    height:0px;
    margin:0px auto;
    position: relative;
    padding-left:150px;
    top:50px;
    transform: rotate(30deg); 
}
.triangle_inputs{
    text-align: center;
}
#six_natural_numbers{
    font-size: 20px;
    text-align: center;
}


.instruction{
    font-size: 25px;
    overflow-wrap: break-word;
    animation: typing 6s steps(56), blink-caret 0.85s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: .12em solid green;
}

.printR {
    font-size: 20px;
    overflow-wrap: break-word;
    animation: typing 5s steps(56), blink-caret 0.85s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: .12em solid green;

  }
  
  
  
  @keyframes typing {
    from { 
    width: 0; 
    }
    to { 
    width: 100%; 
    }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: green }
  }

  @media (max-width: 575.98px) {  
  h3{
    font-size: 3.5vw;
      text-align: justify;
 }
.instruction{
    font-size: 2.5vw;
    overflow-wrap: break-word;

}
.header_title>h1{
    font-size: 4.5vw;

}
.exit>h1{
    font-size: 4.5vw;

}
.exit{
    height: 30%;
    width: 5%;
  
   margin-right: 0.5%;
    bottom:2.5rem;
}

}
  
